/* ＝＝＝共通タグ＝＝＝ */

a {
    color: black;
    font-size: large;
    font-weight: bold;
}

p {
    font-size: large;
}





/* ***共通部品*** */


/* ■■■ Header ■■■*/
.list-inline {
    font-size: 20px;
    margin: 0 7px;
}


.header_img {
    width: 100px;
}

.site_link {
    font-size: medium;
    text-decoration: none;
    transition: 0.2s;
}


.site_link:hover{
    color: #afafaf;
    text-decoration: underline;
}


/* ■■■ Site all ■■■*/
.site_container {
    font-family: "ヒラギノ明朝 ProN W4", "HiraMinProN-W4", "HG明朝E", "MS Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    background-color: #FBFAF7;
}



/* ■■■ Footer ■■■ */

.footer {
    margin: 100px 0 40px 0;
}

.fa-brands {
    font-size: x-large;
    color: black;
    transition: 0.2s;
}

.fa-brands:hover {
    transform: scale(1.2);
}

.sns_link a {
    text-decoration: none;
}





/* ================================= */
/* =========== TOPページ ============ */
/* ================================= */



/* ■■■ Slider ■■■ */

/* スライドの画像と文字を中央配置 */
.slide_wrapper {
    background-image: url(../image/common/top_2.png);
    height: 600px;
    position: relative;
    /* div要素に合わせサイズ変化させるレスポンス */
    background-size: cover;
    /* 画像を上揃え */
    background-position: top;
}

.slide_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slide_title {
    font-size: 60px;
}




/* ■■■ About ■■■ */

.about_title {
    font-size: 35px;
}

.about_wrapper {
    margin-top: 120px;
    line-height: 25px;
}




/* ■■■ Service ■■■ */
/* 
.service_section {
    width: 300px;
    position: relative;
}

.service_section a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.service_wrapper {
    margin-top: 150px;
}

.service_title {
    font-size: 45px;
}

.service_section_content {
    padding: 8%;
}

.service_section:hover {
    background-color: #ece9e3;
} */



/* ■■■ Contact ■■■ */

.contact_wrapper {
    margin-top: 170px;
}

.contact_title {
    font-size: 45px;
}

.contact_content {
    margin: 20px auto;
}


.contact_content_title {
    margin-bottom: 2px;
    margin-top: 10px;
}









/* ■■■■■■■■■■■■■■■■■■■■ */
/* ■■■ Service ■■■ */
/* ■■■■■■■■■■■■■■■■■■■■ */


/* プランの画像 */

.service_about_img {
    width: 45%;
    min-width: 350px;
}


.service_about_img img {
    width: 100%;
}



/* 右揃えプランの英語タイトルの調整 */

.service_about_title_img_r {
    display: flex;
    justify-content: end;
}

.service_about_title_img_r img {
    width: 800px;
    height: 60px;
    object-fit: cover;
    object-position: -80% 0%;
}




/* 左揃えプランの英語タイトルの調整 */

.service_about_title_img_l {
    display: flex;
    justify-content: start;
}

.service_about_title_img_l img {
    width: 800px;
    height: 60px;
    object-fit: cover;
    object-position: 160% 0%;
}


.service_about_title-r {}

.service_about_title-l {
    width: 40%;
}



/* 簡易説明文章 */

.service_about_text {
    margin-bottom: 5px;
    padding-left: 8px;
}




/* Read moreのリンク */

.service_link {
    position: relative;
    width: 126px;
    height: 45px;
    background-color: #d5d2c7;
    margin-left: 8px;
}

.service_link .link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 13px;
    padding-top: 7px;
    transition: 0.5s;

}

.service_link :hover {
    color: #ffffff;
    background-color: #a2a289;
    transform: scale(1.05);
}






/* ■■■■■■■■■■■■■■■■■■■■ */
/* ■■■ Contact ■■■ */
/* ■■■■■■■■■■■■■■■■■■■■ */

.contact_content_message_btn {
    margin-top: 10px;
}

.contact_content_message_btn button {
    display: inline-block;
    border-radius: 11%;
    /* 角丸       */
    font-size: 12pt;
    /* 文字サイズ */
    cursor: pointer;
    /* カーソル   */
    padding: 7px 42px;
    /* 余白       */
    background: #fbfaf7;
    /* 背景色     */
    line-height: 1em;
    /* 1行の高さ  */
    opacity: 0.9;
    /* 透明度     */
    transition: .1s;
    /* なめらか変化 */
}

.contact_content_message_btn button:hover {
    background: #d5d2c7;
    /* 背景色     */
}








/* ==================================== */
/* =========== サービスページ ============ */
/* ==================================== */

.service_slide_wrapper_1 {
    background-image: url(../image/common/service_top1.png);
    height: 600px;
    position: relative;
    /* div要素に合わせサイズ変化させるレスポンス */
    background-size: cover;
    /* 画像を上揃え */
    background-position: top;
}


.service_slide_wrapper_2 {
    background-image: url(../image/common/service_top2.png);
    height: 600px;
    position: relative;
    /* div要素に合わせサイズ変化させるレスポンス */
    background-size: cover;
    /* 画像を上揃え */
    background-position: top;
}


.service_slide_wrapper_3 {
    background-image: url(../image/common/service_top3.png);
    height: 600px;
    position: relative;
    /* div要素に合わせサイズ変化させるレスポンス */
    background-size: cover;
    /* 画像を上揃え */
    background-position: top;
}



.service_slide_text {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.service_slide_text h1 {
    font-size: 750%;
    font-family: 'Vollkorn', serif;
    letter-spacing: 8px;
    line-height: 95%;
}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■ 映像 ■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■ */


.service_about_text {
    letter-spacing: 1px;
}

.movie-main iframe {
    margin: 0 auto
}





/* ■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■ プラン内容 ■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■ */

.service_detail {
    margin: 0 auto;
}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■ 金額 ■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.service_price {
    margin: 0 auto;
}



/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■ サービス下部リンク ■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.service_bottom_link {
    font-size: medium;
    text-decoration: none;
    transition: 0.2s;
}


.service_bottom_link:hover{
    color: #afafaf;
    text-decoration: underline;
}